@model IEnumerable<OBM_Project.Models.Orcamento.Orcamentos>

@{
    ViewData["Title"] = "OrcamentosPendentes";
}

<h2>Orcamentos Pendentes</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                N° Orçamento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTipoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Necessidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataGeracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoServico.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTipoServico.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Necessidade.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataGeracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }
@section H{ }

@section I{ }
