@model OBM_Project.Models.Orcamento.Orcamentos

<h4>Orcamentos</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th width="150px" align="center">
                N° Orçamento
            </th>
            <th width="150px" align="center">
                @Html.DisplayNameFor(model => model.TipoServico)
            </th>
            <th width="150px" align="center">
                @Html.DisplayNameFor(model => model.SubTipoServico)
            </th>
            <th width="150px" align="center">
                @Html.DisplayNameFor(model => model.Necessidade)
            </th>
            <th width="300px" align="center">
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th width="150px" align="center">
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th width="200px">

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TipoServico.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.SubTipoServico.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Necessidade.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Observacao)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model.Valor)
                    </td>
                    
                </tr>
            }
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AlterarOrcamento" asp-controller="Orcamento">
            
            <div class="form-group">
                <label class="control-label">N° Orçamento </label>
                <input asp-for="Id"  class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }
@section H{ }

@section I{ }