@model OBM_Project.Models.Orcamento.Orcamentos

@{
    ViewData["Title"] = "View";
    TempData.Keep();
    var obj = TempData["Orcamento"];
}

<div class="col-lg-4">
    <h2>Seu orçamento</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                N° Orçamento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTipoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                Valor Orçado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.TipoServico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.SubTipoServico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Observacao)
            </td>
            <td>
                R$100,00
            </td>
        </tr>
    </tbody>
</table>
@section A{ }
@section B{ }
@section C
{
    <a class="btn btn-default" asp-action="Imprimir" asp-controller="Orcamento" style="width:240px">Imprimir Orçamento</a>
}
@section D{ }

@section F
{
    <img src="~/images/WhatsApp Image 2020-08-11 at 08.08.13.jpeg" class="img-responsive" style="width:260px; height:100px" />
}
@section G{ }
@section H{ }

@section I{ }